
.headline {
	height: auto;
	width:auto;
	font-family: 'Righteous', cursive;
	font-size:1.4em;
	margin: 8px;
	padding: 8px;
}

nav {
	height: auto;
	width:auto;
	font-family: 'Righteous', cursive;
}

.login {
	height: auto;
	width:20%;
	font-family: 'Righteous', cursive;
	text-align: left;
	float: right;
	padding:2px;
	margin:2px;
}

.signup {
	height: auto;
	width:20%;
	font-family: 'Righteous', cursive;
	text-align: left;
	float: right;
	padding:2px;
	margin:2px;
}
a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.welcome {
	
	
}