
.headline {
	background-color: Black;
	color:#CAFF11;
	height: auto;
	width:auto;
	font-family: 'Righteous', cursive;
	font-size:1.4em;
	margin: 8px;
	padding: 8px;
}

nav {
	background-color: Black;
	color:#CAFF11;
	height: auto;
	width:auto;
	font-family: 'Righteous', cursive;
}

.login {
	background-color: Black;
	color:#CAFF11;
	height: auto;
	width:20%;
	font-family: 'Righteous', cursive;
	text-align: left;
	float: right;
	padding:2px;
	margin:2px;
}

.signup {
	background-color: Black;
	color:#CAFF11;
	height: auto;
	width:20%;
	font-family: 'Righteous', cursive;
	text-align: left;
	float: right;
	padding:2px;
	margin:2px;
}
a {
	text-decoration: none;
}
a:visited{
	color:white;
}

.welcome {
	background-color: #A2D77E;
	
}