<div class='login'>
	<form action='/login' method='POST'>
		<p>LOGIN</p>
		EMAIL:
		<br>
		<input type="text" name="email" placeholder="email">
		<br>
		PASSWORD:
		<br>
		<input type="password" name="password" placeholder='password'>
		<br>
		<input type="submit" name="Login">
	</form>
</div>	