
<div class="question-form">
  <form id="create-question" action='/create/question' method="POST">


		<p><input type="text" placeholder="Question" name="question">
	<!-- POTENTIAL PARTIAL? -->
		<p><input type="text" placeholder="Potential Answer" name="option1">

		<p><input type="text" placeholder="Potential Answer" name="option2">

		<p><input type="text" placeholder="Potential Answer" name="option3">

		<p><input type="text" placeholder="Potential Answer" name="option4">

		<p><input type="submit" value="SUBMITTTTTTTT">
  </form>
</div>
