
<div id="question-form">
	<form action="/question/new" method="POST">
		<p><input type="text" placeholder="Question" name="question[question]">
	<!-- POTENTIAL PARTIAL? -->
		<p><input type="text" placeholder="potential answer" name="option1">

		<p><input type="text" placeholder="potential answer" name="option2">

		<p><input type="text" placeholder="potential answer" name="option3">

		<p><input type="text" placeholder="potential answer" name="option4">

		<p><input type="submit" value="SUBMITTTTTTTT">
	</form>
</div>
