<!-- create_survey.erb -->

<form id="create-survey" action='/survey/create/' method="POST">
	<input type="text" placeholder="title survey here" name="survey[title]">

<!-- button to create survey -->


<%= erb :'_question' %>


		<input type="submit" value="Survey complete???!?!?">
</form>