<div class="create-survey-title">
  <form id="create-survey" action='/create/' method="POST">
  	<input type="text" placeholder="Survey Title" name="title">
    <p><input class="create-survey-btn" type="submit" value="SUBMIT">
  </form>
</div>


  <%= erb :'_question' %>

<button><a href="/">finished with the survey?</a></button>
