<div class='homepage post-page col-md-4 col-md-offset-4'>
			<% @surveys.each do |survey|%>
			<p>
				<a class="list-group-item" href='survey/<%="#{survey.id}"%>' style="z-index: -1;"><%=survey.title%></a>
			<%end%>
</div>