<!-- index.erb -->

<div class="login">
	<form action="/login" method="GET">
		<p>LOGIN</p>
		EMAIL:
		<p>
		<input type="text" name="user[email]">
		<p>
		PASSWORD:
		<p>
		<input type="password" name="user[password]">
		<p>
		<input type="submit" name="submit">

	</form>
</div>

<div class="signup">
	<form action="/signup" method="POST">
		<p>SIGNUP</p>
		NAME:
		<p>
		<input type="text" name="user[name]">
		<p>
		EMAIL:
		<p>
		<input type="text" name="user[email]">
		<p>
		PASSWORD:
		<p>
		<input type="password" name="user[password]">
		<p>
		<input type="submit" name="submit">

	</form>
</div>



  <% if session[:user_id] %>
		<a href="/create"><button type="submit" class="create-survey-btn">create survey</button></a>

		<!-- <a href="/take"><button type="submit" class="take-survey-btn">take a survey</button></a> -->

			<% @survey.each do |survey|%>
			<p>Survey:
				<a href='survey/<%="#{survey.id}"%>'><%=survey.title%></a>

			<%end%>

    <% else %>
  <div class="welcome">
			Welcome to Internal Survey Error!<br>
			A not so smooth way to create and take surveys!
		</div>
	<% end %>
</ul>





