<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Internal Survey Error</title>
  <div class="headline"><a href="/"> Internal Survey Error </a></div>

  <nav>
    <!-- <button type="submit" class="login-button">log in</button>
    <button type="submit" class="signup-button">sign up</button>
    <button type="submit" class="log-out">log out</button> -->
      <ul>
        <% if session[:user_id] %>
          <!-- <li><a href="/user/new">new user</a></li>
          <li><a href="/logout">log out</a></li> -->
          <li><button type="submit" class="log-out">log out</button></li>


        <% else %>
          <!-- <li><a href="/login">login</a></li>
          <li><a href="/singup">sign up</a></li> -->
          <li><button type="submit" class="signup-button">sign up</button></li>
          <li><button type="submit" class="login-button">log in</button></li>
        <% end %>
      </ul>
  </nav>
</head>
<body>
  <%= yield %>
</body>
</html>
