<!-- results.erb -->
<!-- is this showing on the same survey page?
I think yes
let's jquery and ajax this bitch -->
<div id="show-survey">
  <h2><%=@survey.title%></h2>
    <% @survey.questions.each do |q|%>
      <h3><%=q.question%></h3>
      <% q.options.each do |opt|%>
        <h4><%=opt.option%></h4>
        <p><%=opt.responses.count%></p>
      <%end%>
    <%end%>
</div>
