<!-- take.erb -->
take your survey here


<h2><%=@survey.title%></<h2></h2>>



<%@survey.questions.each do |q|%>
  <h3><%=q.question%></h3>
  <% q.options.each do |opt|%>
    <p><%=opt.option%>
  <%end%>
<%end%>
